<%- include('partials/dash_header') %>
        

                    <div class="container-fluid">
                    <div class="row mb-5">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center mb-5">
                    <div class="col-xl-7">
                    <h4 class="text-muted mb-4">My Application</h4>
                    <div id="accordion">

                    <div class="card-header"> My Application  </div>
                      
                    <div class="card-body1">
                        <form action="#" method="">


                             <div class="form-row  mb-3 col-lg-18">
                                    <!-- Name -->
                                    <div class="col col-lg-6">
                                        <label for="">Full Name  :  </label>
                                        <input type="text" placeholder="Enter your full name .." autofocus required="true"> 
                                        <br>
                                    </div>
                                    
                                    <!-- Email -->
                                    <div class="col col-lg-6 ">
                                        <label for="">Email Id : </label>
                                        <input type="text" placeholder="xyz@gmail.com" autofocus required="true"> 
                                        <br>
                                    </div>

                                    </div>
                                   

                                    <div class="form-row  mb-3 col-lg-18">
                                     <!-- Institue Name -->
                                    <div class="col col-lg-6 ">
                                        <label for="">University : </label>
                                        <input type="text" placeholder="Institute / University" autofocus required="true"> 
                                        <br>
                                    </div>

                                     <!-- Portfolio Link -->
                                     <div class="col col-lg-6 ">
                                        <label for="">Portfolio : </label>
                                        <input type="text" placeholder="Portfolio link.." autofocus > 
                                        <br>
                                    </div>

                            </div>

                             <!-- Phone No. -->
                             <div class="form-row  mb-3 col-lg-18">
                             <div class="col col-lg-7">
                                <label for="">Contact No. : </label>
                                <input type="tel" placeholder="+91-XXXXXXXXXX" autofocus required="true"> 
                                <br>
                            </div>
                        </div>

                                    <!-- Tech skills -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Tech Skills :</label>
                                            <textarea rows = "2" cols = "70" name = "tech_skill" placeholder="List your tech skills here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                       
                                    <!-- Achievements -->
                                    <div class="form-row mb-4" >
                                        <div class="col ml-auto ">
                                        <label for="">Achievements : </label>
                                        <textarea rows = "2" cols = "70" name = "achievements"  placeholder="Enter your achievements here .." autofocus required="true"> </textarea>
                                    </div>
                                     <br>
                                    </div>
                                     
                                    <!-- project -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Projects : </label>
                                            <textarea rows = "2" cols = "70" name = "project" placeholder="List your projects here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>
                                     
                                    <!-- certificates -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Certification :</label>
                                            <textarea rows = "2" cols = "70" name = "certificates" placeholder="List your Certificates here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                                     <!-- soft skills -->
                                     <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Soft Skills :</label>
                                            <textarea rows = "1" cols = "70" name = "soft_skill" placeholder="List your soft skills here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                                <br>
                                <button type="submit" class="btn btn-dark add_app">Add</button>

                            </form>

                        </div>
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
            </div>
        <!--end of recent activities / comment form-->

     <!--footer-->
    
     <%- include('partials/dash_footer') %>