<%- include('partials/header') %>

<body>
  
  <img class="mainimg" src="../images/1.png" alt="" />

  
  <div class="container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto lr">
          <li class="nav-item">
            <a class="nav-link l" style="color: white" href="/login">Login</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link r" style="color: white" href="/login"
              >Register</a
            >
          </li>
        </ul>
      </div>
      <br />
    </nav>

    <!-- Title -->
  </div>

  <img class="homeimg gap" src="../images/2.png" alt="" />
  <img class="homeimg" src="../images/3.png" alt="" />

  <%- include('partials/footer') %>
</body>
