<%- include('partials/dash_header') %>
        

                    <div class="container-fluid">
                    <div class="row mb-5">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center mb-5">
                    <div class="col-xl-7">
                    <h4 class="text-muted mb-4">My Application</h4>
                    <div id="accordion">

                    <div class="card-header"> My Application  </div>
                      
                    <div class="card-body1">
                        <form action="/myapplication" method="post">

                            
                             <div class="form-row  mb-3 col-lg-18">
                                    <!-- Name -->
                                    <div class="col col-lg-6">
                                        <label for="">Full Name  :  </label>
                                        <input  name="fullname" type="text" placeholder="Enter your full name .." autofocus required="true"> 
                                        <br>
                                    </div>
                                    
                                 

                                    </div>
                                   

                                    <div class="form-row  mb-3 col-lg-18">
                                     <!-- Institue Name -->
                                    <div class="col col-lg-6 ">
                                        <label for="">University : </label>
                                        <input type="text" placeholder="Institute / University" name="institutename" autofocus required="true"> 
                                        <br>
                                    </div>

                                     <!-- Portfolio Link -->
                                     <div class="col col-lg-6 ">
                                        <label for="">Portfolio : </label>
                                        <input type="text" placeholder="Portfolio link.." name="portfolios" autofocus > 
                                        <br>
                                    </div>

                            </div>

                             <!-- Phone No. -->
                             <div class="form-row  mb-3 col-lg-18">
                             <div class="col col-lg-7">
                                <label for="">Contact No. : </label>
                                <input type="tel" placeholder="+91-XXXXXXXXXX" name="contactno" autofocus required="true"> 
                                <br>
                            </div>
                        </div>

                         <!-- Specialization -->
                        <div class="form-row  mb-3 col-lg-18">
                            <div class="col col-lg-7">
                               <label for="">Specialization </label>
                               <input type="text" placeholder="eg. Web Development,ML" name="specialization" autofocus required="true"> 
                               <br>
                           </div>
                       </div>


                                    <!-- Tech skills -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Tech Skills :</label>
                                            <textarea rows = "5" cols = "70" name = "tech_skill" placeholder="List your tech skills here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                       
                                    <!-- Achievements -->
                                    <div class="form-row mb-4" >
                                        <div class="col ml-auto ">
                                        <label for="">Achievements : </label>
                                        <textarea rows = "5" cols = "70" name = "achievements"  placeholder="Enter your achievements here .." autofocus required="true"> </textarea>
                                    </div>
                                     <br>
                                    </div>
                                     
                                    <!-- project -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Projects : </label>
                                            <textarea rows = "4" cols = "70" name = "projects" placeholder="List your projects here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>
                                     
                                    <!-- certificates -->
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Certifications :</label>
                                            <textarea rows = "4" cols = "70" name = "certifications" placeholder="List your Certificates here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Workshops :</label>
                                            <textarea rows = "4" cols = "70" name = "workshops"  autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                                     <!-- soft skills -->
                                     <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="">Soft Skills :</label>
                                            <textarea rows = "4" cols = "70" name = "soft_skill" placeholder="List your soft skills here .." autofocus required="true"> </textarea>
                                        </div>
                                        <br>
                                    </div>

                                <br>
                                <button type="submit" class="btn btn-dark add_app btn-block">Add</button>

                            </form>

                        </div>
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
            </div>
        <!--end of recent activities / comment form-->

     <!--footer-->
    
     <%- include('partials/dash_footer') %>