html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671)),
    url("../images/home.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* body {
  background-color: #4e4e4e;
} */

.logo {
  color: white;
}
.navbar-toggler {
  color: white;
}
.links {
  color: white !important;
}
.fa-bars {
  color: white;
  font-size: 25px;
}

.form {
  position: relative;
  width: 30rem;
  background: #57bd84;
  border-radius: 0.7rem;
}

.input,
.submit {
  height: 3.5rem;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0;
  width: 100%;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.submit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 0.7rem 0.7rem 0;
}
input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.submit {
  display: block;
}
