body {
  font-family: "Montserrat";
}

.mainimg {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
}

.homeimg {
  width: 100%;
}

.gap {
  margin-top: 330px;
}

.navimg {
  height: 100px;
  border-radius: 50px;
}
.navbar {
  padding: 0;
  height: 10rem;
  width: auto;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}
.container-fluid {
  padding: 0 10% 10% 15%;
  line-height: 4;
  font-size: 25px;
  height: 100%;
  width: auto;
}

.title-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.9em;
}

.icon-parent {
  position: relative;
}
.icon-bullet:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #f44336;
  border-radius: 50%;
}

.sbar {
  margin-left: 30px;
}

.card-deck {
  margin: 80px 30px;
  margin-top: 20px;
}

.design {
  margin-bottom: 40px;
}

.result-his {
  margin: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.nav-custom {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
}

.sen-request {
  float: right;
}

.fas {
  color: #ffa62b;
}