body {
  font-family: "Montserrat";
}

.mainimg {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
}

#title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homeimg {
  width: 100%;
}

.gap {
  margin-top: 330px;
}

.navimg {
  height: 100px;
  border-radius: 50px;
}
.navbar {
  padding: 0;
  height: 10rem;
  width: auto;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}
.container-fluid {
  padding: 0 10% 10% 15%;
  line-height: 4;
  font-size: 25px;
  height: 100%;
  width: auto;
}
